/* 폰트 */
/* https://noonnu.cc/font_page/1269 */
@import url("https://cdn.jsdelivr.net/gh/wanteddev/wanted-sans@v1.0.1/packages/wanted-sans/fonts/webfonts/variable/split/WantedSansVariable.min.css");

/* https://noonnu.cc/font_page/694 */
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

/* https://noonnu.cc/font_page/527 */
@font-face {
    font-family: 'Cute_siu';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/naverfont_02@1.0/Cut_siu.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* https://noonnu.cc/font_page/415 */
@font-face {
    font-family: 'ChosunGu';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ChosunGu.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* https://noonnu.cc/font_page/738 */
@font-face {
    font-family: 'SBAggroB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* https://noonnu.cc/font_page/1050 */
@font-face {
    font-family: 'LINESeedKR-Bd';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

/* 프리덴다드 */
.font-Pretendard {
	font-family: 'Pretendard-Regular';
}

/* 큐트시우 */
.font-cuteSiu {
	font-family: 'Cute_siu';
}

/* 조선 굴림체 */
.font-ChosunGu {
	font-family: 'ChosunGu';
}

/* Wanted Sans */
.font-WantedSans {
	font-family:"Wanted Sans Variable";
}

/* 어그로체 */
.font-SBAggroB {
	font-family: 'SBAggroB';
}

/* LINE Seed */
.font-LINESeed {
	font-family: 'LINESeedKR-Bd';
}


/* 네이버 로그인 커스텀 버튼 */
.naver-login-btn {
    width: 60px;
    height: 60px;
    background-color: rgb(3, 199, 90);
    color: white;
}

.naver-login-btn-font{
    font-family: 'SBAggroB';
    font-size: 32px;
    padding-top: 5px;
}

.naver-login-btn:hover,
.naver-login-btn-font:hover {
    background-color: rgb(3, 186, 85);
}


/* 폰트적용 */
body {
	font-family:"Wanted Sans Variable";
}

.h-mh {
	min-height: calc(11vh + 50px);
	padding-top: 10px;
	padding-bottom: 40px;
}

.b-mh {
	min-height: 89vh;
}

/* 
	레이아웃 최소 길이
	mw: min-width. p-mw: padding-min-width, a-mw: article-min-width 
*/
.mw,
.p-mw {
	min-width: 1024px;
	width: 100vw;
}

.p-mw {
	padding-left: 60px;
	padding-right: 60px;
}


.img-section-mh {
	min-height: 30vh;
	height: 30vh;
	max-height: 30vh;
}

.img-section {
	height: 30vh;
	background-size: cover;
	background-position-y: 53%;
}





/* header 버튼 */
.nav-btn {
	display: inline-block;
	color: #3C586B;
    background-color: #fff;
    border-radius: 4px;
    position: relative;
    white-space: nowrap;
    cursor: pointer;
    font-size: 1.1rem;
}

.nav-btn-open-line {
  transition: 0.3s;
}

.nav-btn-open-line::before, .nav-btn-open-line::after {
  position: absolute;
  content: "";
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #3C586B;
  opacity: 0;
  transform: scaleX(0);
  transition: 0.4s ease-in-out;
}
.nav-btn-open-line::before {
  top: 0;
}
.nav-btn-open-line::after {
  bottom: 0;
}
.nav-btn-open-line:hover {
  letter-spacing: 5px;
  color: #3C586B;
  background: transparent;
}
.nav-btn-open-line:hover::before, .nav-btn-open-line:hover::after {
  opacity: 1;
  transform: scaleX(1.2);
}

/* header nav */
.menu-box > ul {
	position: relative;
}

.menu-box > ul > li {
	margin: 0 5px;
}

.menu-box > ul > li > a {
	display: block;
	padding: 8px 12px;
}

.menu-box > ul ul {
	width: 100%;
	padding-top: 8px;
	visibility: hidden;
	display: flex;
	justify-content: center;
	position: absolute;
	top: 100%;
	left: 0;
	opacity: 0;
	transition: opacity .3s, top .3s, visibility .3s;
	z-index: 1;
}

.menu-box > ul ul > li {
	padding: 2px 6px;
	font-size: 1rem;
	transform-origin: center bottom;
	transition: transform .1s;
}

.menu-box ul > li:hover > ul {
	visibility: visible;
	top: 100%;
	opacity: 1;
	z-index: 2;
}

.menu-box > ul ul > li:hover {
  	transform: scale(1.1);
}

/* select 태그에서 readonly와 비슷한 기능을 사용하기 위함 */
select[readonly] {
	pointer-events: none;
}

/* header alert */
.alert {
	width: 320px;
	position: absolute;
	top: -60px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 20;
	opacity: 0;
	animation: fadeInOut 3s ease-out;
}

/* alert 나타나고 사라지는 애니메이션 */
@keyframes fadeInOut {
	0% { opacity: 0; top: -60px; }
    10% { opacity: 1; top: 1rem; }
    90% { opacity: 1; top: 1rem; }
    100% { opacity: 0; top: -60px; }
}






/* main.jsp */
#map > div:first-child > div > div:last-child img {
	transform-origin: bottom center;
	transition: transform .1s;
}

#map > div:first-child > div > div:last-child img:hover {
	transform: scale(1.07);
}

.plus-btn {
	color: black;
	transition: color .6s, transform .6s ease-in-out;
}

.plus-btn:hover {
	transform: rotate( 90deg );
	color: #404040;
}


/* list.jsp */
/* 게시물 목록 테이블 */
.table :where(tbody>tr) {
	opacity: 0;
	animation: changeOpacity 0.5s ease;
	animation-fill-mode: forwards;
}

.table :where(th:not(:last-child)) {
    border-right: 2px solid #fff;
}

/* 게시물 목록 스타일 2 */
.list-style-2 {
	opacity: 0;
	animation: changeOpacity 0.5s ease;
	animation-fill-mode: forwards;
}

.scale {
	transition: transform .2s;
}

.scale:hover {
	transform: scale(1.02);
}

@keyframes changeOpacity {
    from {
		opacity: 0;
    }
    to {
		opacity: 1;
    }
}





/* profile.jsp */

.min-h {
	/*min-height: 200vh;*/
	min-height: calc(100vh - 149.65px);
}

.profile-layout {
	display: grid;
	grid-template-columns: 280px minmax(600px, 1fr);
	gap: 2.5rem;
}

#profile-side {
	position: absolute;
	top: 197.65px;
	transition: top .8s ease-out;
}

.side-btn-wrap > .btn {
	justify-content: start;
}

/* 반려묘 정보란 */
.catInfo-wrap {
	display: grid;
	grid-template-rows: 1fr 1fr 160px;
	/*grid-row-gap: 0.25rem;*/
	padding: 0.25rem;
	padding-right: 1rem;
}

.catInfo {
	display: grid;
	grid-template-columns: 90px minmax(128px, 360px);
	/*grid-column-gap: 0.25rem;*/
}